{% extends "maths/main.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Nazwa:</th>
            <td>{{ author.nick }}</td>
        </tr>
        <tr>
            <th>Adres Email:</th>
            <td>{{ author.email }}</td>
        </tr>
        <tr>
            <th>Bio:</th>
            <td>{{ author.bio }}</td>
        </tr>
    </table>
    <a href="{% url "posts:a_list" %}">Wróć do listy autorów</a>
{% endblock %}