{% extends "maths/main.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Tytuł:</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>Treść:</th>
            <td>{{ post.content }}</td>
        </tr>
        <tr>
            <th>Wysłano:</th>
            <td>{{ post.created }}</td>
        </tr>
        <tr>
            <th>Zmodyfikowano:</th>
            <td>{{ post.modified }}</td>
        </tr>
        <tr>
            <th>Autor:</th>
            <td>{{ post.author_id.nick }}</td>
        </tr>
    </table>
    <a href="{% url "posts:list" %}">Wróć do listy postów</a>
{% endblock %}